.navbar {
  background:   #0a0a32b7;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-bars {
  cursor: pointer;
}
.logo{
  margin: 50px;
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0; 
  margin: 50px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(224, 217, 217);
  font-weight: bold;
}



/* Media Query pour les petits écrans */
@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }

  .menu-bars {
    font-size: 24px;
    color: black;
  }


  .nav-items {
    display: none;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color:  #0a0a32b7;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: left 0.3s;
  }
  
  .nav-items.open {
    left: 0;
  }
  .nav-items.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* ... */
  }

  .menu-bars.open {
    color: #fca311;
  }
}
